/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */
body{
    font-family: Courier;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ffffff;
    color: #000000;
}
.main{

}
.main a:link{
    font-weight: Bold;
}
.main a:hover{
    text-decoration: none;
    background-color: black;
    color: white;
}
.container{
    padding-top: 30px;
    padding-bottom: 30px;
    align-text: center;
    align-content: center;
}
.container .jumbotron{
    background-color: transparent;
}
.spacing{
    padding-top: 50px;
    padding-bottom: 10px;
}
.element{
    font-size: 30px;
}
p{
    font-family: "Courier New";
    color: black;
    font-size: 13px;
}
a{
   color: inherit;
}
.pages a:link{
    color: black;
}
.pages a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}



/** Typed cursor from Typed.js by Matt Bolt **/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}