/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */
body{
    font-family: Courier;
    padding-top: 0px;
    padding-bottom: 50px;
    background: #ffffff;
    color: #000000;
}
.btn-primary-outline {
    background-color: #C0C0C0;
    border-color: black;
    color:black;
}
.btn-primary-outline:hover {
    background-color: white;
    border-color: black;
    color: #C0C0C0;
}
.converter{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main a:link{
    font-weight: Bold;
}
.main a:hover{
    text-decoration: none;
    background-color: black;
    color: white;
}
.main a:visited{
    text-decoration: none;
    color: black;
}
.row-centered {
    text-align:center;
}
.v-center{
    display:inline-block;
    vertical-align: middle;
    float: none;
}
.spacing{
    padding-top: 30px;
    padding-bottom: 30px;
}
.spacing2{
    padding-top: 10px;
    padding-bottom: 30px;
}
.spacing3{
    padding-top: 5px;
    padding-bottom: 30px;
}
.spacing4{
    padding-top: 10px;
    padding-bottom: 30px;
}
.spacing-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-brand{
    font-size: 14px;
}
.navbar-brand:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.home{
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    align-content: center;
}
.home .jumbotron{
    background-color: transparent;
}
.side-page{
    text-align: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.element{
    font-size: 30px;
}
p{
    font-family: "Courier New";
    color: black;
    font-size: 13px;
}
a{
   color: inherit;
}
.input-boxes{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pages a:link{
    font-weight: bold;
    color: black;
}
.pages a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.home-links a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.container-fluid a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.btn:hover{
    background-color: BLACK;
    color:WHITE;
}
.center-wrapper{
    position: absolute;
    left: 50%;
    bottom: 0%;
}


/** About Page **/
.about-header {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 600px;
}
.about-nav-bar a{
    margin-top: 15px;
}
.about-nav-bar a{
    padding-left: 13px;
    padding-right: 13px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    background-color: #C0C0C0;
}
.bg-secondary {
    color: white;
    background-image: url('../Site_photos/About-me-2.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.first-text{
    padding-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;
}
.middle-photo-text {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.middle-photo-text p{
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.experience h4{
    font-size: 17px;
}


/** Project Page **/
.project{
    margin: auto;
    align-content: center;
    position: center;
    width: 300px;
    height: 300px;
    text-align: center;
}
.project p{
    display: inline-block;
}
.project a:link{
    font-weight: bold;
    color: black;
}
.project a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.project a:visited{
    text-decoration: none;
    color:black;
}
.proj-btn{
    position: relative;
    bottom: 0;
    left: -50%;
}
.proj-btn a{
    background-color: #C0C0C0;
    color:BLACK;
}
.proj-btn a:hover{
    background-color: black;
    color: white;
}
.proj-btn a:link{
    font-weight: normal;
}
.btn:focus,.btn:active, .btn:focus:hover{
    outline: none;
}

/** Music Page **/
#container {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;
}
.photobanner {
    height: 233px;
    width: 20000px;
    margin-bottom: 80px;
}

.photobanner img {
    height: 233px;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}
.second {
    -webkit-animation: bannermove2 20s linear infinite;
    -moz-animation: bannermove2 20s linear infinite;
    -ms-animation: bannermove2 20s linear infinite;
    -o-animation: bannermove2 20s linear infinite;
    animation: bannermove2 20s linear infinite;
}
@keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}
@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}
@-webkit-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}
@-ms-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}
@-o-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

/** Blog Post **/
.blog-header{
    position: relative;
    width: 100%;
    text-align: center;
}
.blog-header h3 {
    position: absolute;
    width: 100%;
}
.blog-header img{
    border:3px solid black;
    height: auto
}
#Cory-Pic{
    width: 700px;
}
/** Typed cursor from Typed.js by Matt Bolt **/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}