/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */
body{
    font-family: Courier;
    padding-top: 0px;
    padding-bottom: 50px;
    background: #ffffff;
    color: #000000;
}
div{
    padding: 0px;
    margin: 0px;
}
.main a:link{
    font-weight: Bold;
}
.main a:hover{
    text-decoration: none;
    background-color: black;
    color: white;
}
.spacing{
    padding-top: 30px;
    padding-bottom: 30px;
}
.spacing2{
    padding-top: 10px;
    padding-bottom: 30px;
}
.navbar-brand{
    font-size: 14px;
}
.navbar-brand:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.home{
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    align-content: center;
}
.home .jumbotron{
    background-color: transparent;
}
.side-page{
    text-align: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.element{
    font-size: 30px;
}
p{
    font-family: "Courier New";
    color: black;
    font-size: 13px;
}
a{
   color: inherit;
}
.pages a:link{
    color: black;
}
.pages a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.container-fluid a:hover{
    text-decoration: none;
    background-color: BLACK;
    color: WHITE;
}
.proj-btn a{
    background-color: #C0C0C0;
    color:BLACK;
}
.btn:hover{
    background-color: BLACK;
    color:WHITE;
}


/** Typed cursor from Typed.js by Matt Bolt **/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}