/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */

.dropdown:hover .dropdown-menu {
    display: block;
}

.bg-1 {
    background-color: #4d88ff; /* blue */
    color: #ffffff;
}
.contact-bottom{
    background-color: #efedf2;
    color: black;
}