/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */

.dropdown:hover .dropdown-menu {
    display: block;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-1 {
    background-color: #4d88ff; /* blue */
    color: #ffffff;
}
.bg-4 {
    background-color: #b3e3ff;
    color: #ffffff;
}