/*!
 * Tristan Burke Site CSS
 * Copyright 2017 Tristan Burke
 */
body{
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: #333333;
    color: #FFFFFF; */
}
h1, h2, h3, h4, p, ul li{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.element{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/** Typed - CSS for blinking cursor **/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}